app-various-table-menu {
  h4 {
    text-align: center;
    margin-top: 2rem;
  }

  ul {
    background: lightblue;
    list-style: none;
    margin-top: 2rem;
    padding-left: 0px;

    li {
      height: 3rem;
      background: lightgreen;
      padding: 11px 14px;
      border-bottom: 1px solid black;
    }
  }

  .active {
    background-color: yellow;
  }
}
