<div class="d-flex">
  <div class="search-container" *ngIf="isSearchShow">
    <div *ngIf="(isSearchActive | async);then showSearchActiveState else showSearchDeactiveState"></div>
    <ng-template #showSearchDeactiveState>
      <div #searchBtn class="d-flex search-btn" floating="true" size="sm" (click)='searchOnTable()'>
        <img src='assets/icon_search.svg'>
        <div class="btn-txt">SEARCH</div>
      </div>
    </ng-template>

    <ng-template #showSearchActiveState>
      <div class="search">
        <input #filterInput type="text" maxlength="50" (keyup)='searchQueryOnDataSource($event)' />
        <span id="search-icon"><img src='assets/icon_search.svg'></span>
        <span id="search-clear"><img (click)="closeSearch()" src='assets/Close.svg'></span>
      </div>

    </ng-template>
  </div>

  <div *ngIf="isDelete">
    <div *ngIf="(deleteObserver | async)" class="d-flex remove-btn" (click)='removeSelectItems()'>
      <div class="imgDel ml-4"><img class="img-fluid mx-auto d-block" src='assets/Remove.svg'></div>
      <div class="title-txt ml-0">Remove</div>
    </div>
  </div>
</div>
<div class="table-container">
  <mat-table #MatTable [dataSource]="dataSource" matSort matSortActive="dateCreated" matSortDisableClear
    matSortDirection="desc">

    <div *ngIf="isSelectAll">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 60px;">
          <mat-checkbox [ngClass]="{'d-none': !isEachRowSelect }" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" style="flex: 0 0 60px;">
          <mat-checkbox *ngIf="!row?.isHide" (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [disabled]="isDisabled(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
    </div>

    <ng-container [matColumnDef]="column?.columnName" *ngFor="let column of displayedColumns; let i = index">
      <mat-header-cell *matHeaderCellDef [mat-sort-header]="enabledSortingForColumn(column?.columnName)"
        [disabled]="column?.columnName !== enabledSortingForColumn(column?.columnName) ? true : false"
        [ngStyle]="{'flex': column?.width }" (click)="headerClick(column?.columnName, column?.sortType)">
        <div class="left-header-padding txt-style">{{ column?.title }}</div>
      </mat-header-cell>

      <mat-cell *matCellDef="let element" [ngStyle]="{'flex': column?.width }">
        <div *ngIf="column?.columnName === 'action'" class="left-row-padding" style="padding-top: 7px;">
          <mat-menu class="action-item-menu" #actionItemMenu="matMenu" xPosition="before">
            <button [disableRipple]="true" mat-menu-item *ngFor="let actionItem of actionItems"
              (click)="getAction(actionItem.title, element)">{{ actionItem?.title }}</button>
          </mat-menu>
        </div>

        <div class="left-row-padding txt-style"
          [ngClass]="{'txt-style-bold': (column?.isBold), 'txt-style-normal': (!column?.isBold)}"
          [matTooltip]="element?.isInActive ? 'Pending Approval' : (element?.status === 'inactive') ? 'Inactive' : ''">

          <div *ngIf="column?.columnType === 'text'">{{ element[column?.columnName] }}</div>
          <div *ngIf="column?.columnType === 'html'">
            <div [innerHTML]=element[column?.columnName]></div>
          </div>
          <div *ngIf="column?.columnType === 'image'">
            <img [src]="element[column?.columnName]" width="30" height="30">
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="cloumnsData"></mat-header-row>
    <mat-row [ngStyle]="getStyle(row)" *matRowDef="let row; columns: cloumnsData;" (click)="getRecord(row)"
      matTooltipPosition="below" matTooltipTouchGestures="auto"></mat-row>
  </mat-table>
</div>

<div>
  <div class="row m-0 table-footer">
    <div class="col-2"></div>

    <div class="col-8">
      <div *ngIf='!isPaginationDisable'>
        <div class="d-flex justify-content-center pagination">
          <ul *ngFor="let page of numberOfPageArray">
            <li (click)="selectedPage(page, false)"
              [ngClass]="{'selected': page.selection, 'not-selected': !page.selection }">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
