
@import '~bootstrap/scss/bootstrap';

@import './app/table-experiment/various-table-menu/various-table-menu.component.scss';
@import './app/table-experiment/simple-table/simple-table.component.scss';
@import './app/table-experiment/table-config/table-config.component.scss';

html, body {
  overflow-x: hidden;
  background-color: #f2f2f2;
  min-height: 100vh;
  height: auto;
  margin: 0;

  a { cursor: pointer }

  ng-component {
    display: block;
  }
}
