
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customize-mat-table-primary: mat-palette($mat-indigo);
$customize-mat-table-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$customize-mat-table-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$customize-mat-table-theme: mat-light-theme((
  color: (
    primary: $customize-mat-table-primary,
    accent: $customize-mat-table-accent,
    warn: $customize-mat-table-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($customize-mat-table-theme);


@import '~bootstrap/scss/bootstrap';

@import './app/table-experiment/various-table-menu/various-table-menu.component.scss';
@import './app/table-experiment/simple-table/simple-table.component.scss';
@import './app/table-experiment/table-config/table-config.component.scss';

html, body {
  overflow-x: hidden;
  background-color: #f2f2f2;
  min-height: 100vh;
  height: auto;
  margin: 0;

  a { cursor: pointer }

  ng-component {
    display: block;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
